/* Estilos generales */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #DAC0A3;
}

/* Contenedor del contenido */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenedor de los botones de imagen */
.image-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio mínimo entre las imágenes */
}

/* Estilo para cada botón de imagen */
.image-button {
    display: inline-block;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

/* Estilo para las imágenes dentro de los botones */
.image-button img {
    display: block;
    width: 400px; /* Ajusta el tamaño de la imagen según necesites */
    height: 500px; /* Asegura que las imágenes tengan la misma altura */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    cursor: pointer;
    transition: filter 0.3s ease;
}

/* Estilo al pasar el mouse sobre el botón de imagen */
.image-button:hover img {
    filter: blur(0); /* Elimina el efecto de desenfoque al pasar el mouse */
}

/* Estilo para el título */
h2 {
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    margin: 20px 0; /* Añade margen superior e inferior */
    position: relative;
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
}

/* Pseudoelementos para las líneas horizontales */
h2::before, h2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px; /* Espacio entre la línea y el texto */
}
