body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: white;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    background-color: transparent;
}

.card .price {
    font-size: 1.5em;
    margin: 20px 0;
}

.card .nombre {
    font-size: 1.3em;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card button {
    background-color: #102C57;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.card button:hover {
    background-color: #000000;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.card .cart-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #102C57;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.segundo {
    background-color: #102C57;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}
