
        .carousel {
            max-width: 10000px;
            margin: auto;
        }
        .carousel-item img {
            width: 1500px;
            height: 500px; /* Ajusta la altura según tus necesidades */
            object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
        }
