body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-container,
.footer-container {
    width: 100%;
    color: white;
}

.header-container {
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    text-align: center;
    padding: 10px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1200px;
    width: 100%;
}

.imagen {
    width: 450px;
    height: auto;
    margin-right: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button a {
    text-decoration: none;
    color: white;
}

.texto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.descripcion table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.descripcion table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.info h1,
.info h2,
.info h3 {
    margin: 0;
    font-size: 25px;
}

.info h3 {
    font-size: 28px;
    margin: 10px 0;
}

.descripcion h2 {
    margin-top: 20px;
}
