/* Estilos del Header */
.navbar {
    background-color: #0B3D91; /* Color de fondo de la barra de navegación */

}
.navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.nav-item {
    font-size: 18px;
}
.nav-link {
    color: #FFFFFF;
    margin: 0 10px;
}
.nav-link:hover {
    color: #00e7c4; /* Color al pasar el mouse */
}
.form-inline .form-control {
    border-radius: 50px 0 0 50px;
    width: 50px;

}
.search-btn {
    border-radius: 0 50px 50px 0;
}
.icon {
    font-size: 24px;
    color: white;
    margin-left: 40px; /* Espacio entre los iconos */
}
.navbar-top {
    justify-content: space-between;
    align-items: center;
}
.navbar-bottom {
    justify-content: flex-end; /* Alineación de los íconos a la derecha */
    background-color: #0A3B85;
    padding: 10px 0;
}

.navbar-bottom{
padding: 20px;
}


/* Estilos del Footer */
.footer-princip{
    width: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
}

.footer-section {
    flex: 1;
    margin: 10px 0;
}

.footer-section h2, .footer-section h3 {
    margin: 0;
    font-weight: bold;
}

.footer-section p, .footer-section ul {
    margin: 10px 0;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a, .footer-section p a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover, .footer-section p a:hover {
    text-decoration: underline;
}

.footer-section.next-about a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}
