/*
================================================================
=====================| Estilos Generales |======================
================================================================
*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cuerpo_unico {
    background-color: #c2c2c2;
}
h2 {
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
}
h2::before, h2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px;
}

/*
================================================================
=====================| Estilos del Header |=====================
================================================================
*/
.navbar {
    background-color: #102C57;
}
.navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.nav-item {
    font-size: 18px;
}
.nav-item:hover{
    border-radius: 4px;
    background-color: #f75c0f;
}
.nav-link {
    color: #FFFFFF;
    margin: 0 10px;
}
.nav-link:hover {
    color: #00e7c4;
}
.form-inline .form-control {
    border-radius: 50px 0 0 50px;
    width: 50px;
}
.search-btn {
    border-radius: 0 50px 50px 0;
}
.search-btn:hover{
    background-color: #f75c0f;
    color: white;
}
.icon {
    font-size: 24px;
    color: white;
    margin-left: 40px
}

.navbar-top {
    justify-content: space-between;
    align-items: center;
}
.navbar-bottom {
    justify-content: flex-end;
    background-color: #1f4071;
    padding: 20px;
}

/*
================================================================
=====================| Estilos del Footer |=====================
================================================================
*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    height: 357px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
}
.footer-section {
    flex: 1;
    margin: 10px 0;
}
.footer-section h2, .footer-section h3 {
    margin: 0;
    font-weight: bold;
}
.footer-section p, .footer-section ul {
    margin: 10px 0;
    line-height: 1.6;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin: 5px 0;
}
.footer-section ul li a, .footer-section p a {
    color: #fff;
    text-decoration: none;
}
.footer-section ul li a:hover, .footer-section p a:hover {
    text-decoration: underline;
}
.footer-section.next-about a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

/*
======================================================================
=====================| Estilos del Main |=============================
======================================================================
*/
/* Asegurarnos de que .body tenga una altura mínima de 100vh */

.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinea verticalmente al centro */
    height: 100vh;
    background-color: #DAC0A3;
    margin: 0;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 2em;
    position: relative;
    display: inline-block;
}

header h1::before, header h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px; /* Incrementa este valor para hacer la raya más larga */
    height: 2px;
    background-color: black;
}

header h1::before {
    left: -110px; /* Ajusta la posición para que esté alineado con el nuevo ancho */
}

header h1::after {
    right: -110px; /* Ajusta la posición para que esté alineado con el nuevo ancho */
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center; /* Asegura que los elementos estén alineados verticalmente en el centro */
}

.image-button {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.image-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-button .label {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-button:hover {
    border-color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.image-button:hover img {
    transform: scale(1.1);
}

.image-button:hover .overlay {
    opacity: 0.5;
}

.image-button:hover .label {
    opacity: 1;
}

.carousel {
    max-width: 10000px;
    margin: auto;
}

.carousel-item img {
    width: 1500px;
    height: 500px;
    object-fit: cover;
}

#hero {
    min-height: 100vh;
    position: relative;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%; /* Ajustar este valor para cambiar el ancho máximo del video */
    max-height: 80%; /* Ajustar este valor para cambiar la altura máxima del video */
    width: auto;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%); /* Centra el video */
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 1;
    mix-blend-mode: overlay;
}

.promo {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}


/*
======================================================================
=====================| Estilos de Productos |=========================
======================================================================
*/
.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 1200px;
    width: 100%;
}
.imagen {
    width: 450px;
    height: auto;
    margin-right: 20px;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.button-container button a {
    text-decoration: none;
    color: white;
}
.texto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.descripcion table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
.descripcion table td {
    border: 1px solid #ccc;
    padding: 8px;
}
.info h1, .info h2, .info h3 {
    margin: 0;
    font-size: 25px;
}
.info h3 {
    font-size: 28px;
    margin: 10px 0;
}
.descripcion h2 {
    margin-top: 20px;
}

/*
======================================================================
=====================| Estilos de Sección |===========================
======================================================================
*/
.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px;
    background-color: #fff;
    width: 100%;
    height: 300px;
}
.service-item {
    text-align: center;
    max-width: 200px;
    padding: 0 15px;
}
.service-item img {
    margin-bottom: 0px;
}
.icon1 {
    width: 140px;
    height: 140px;
}
.icon2 {
    width: 80px;
    height: 80px;
    padding: 35px;
}
.icon3 {
    width: 120px;
    height: 120px;
    padding: 20px;
}
.icon4 {
    width: 150px;
    height: 150px;
}
.service-item h3 {
    font-size: 1.1em;
    color: #333;
    margin: 0;
}
.service-item p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

/*
======================================================================
=====================| Estilos del Login |============================
======================================================================
*/
body.login {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.login-container {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(248, 249, 250, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    margin-bottom: 20px;
}

.login-header h2 {
    font-size: 2rem;
    color: #6c757d;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.google-login img {
    margin-right: 10px;
}

.login-form .form-group label {
    font-weight: bold;
}

.login-form .btn {
    background-color: #007bff;
    color: white;
    border: none;
}

.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.login-logo img {
    max-width: 100%;
    height: auto;
}

/*
======================================================================
=====================| Estilos del Register |=========================
======================================================================
*/

body.register {
    font-family: Arial, sans-serif;
}

.register-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-header {
    margin-bottom: 20px;
}

.register-header h2 {
    font-size: 2rem;
    color: #6c757d;
}

.register-form .form-group label {
    font-weight: bold;
}

.register-form .btn {
    background-color: #007bff;
    color: white;
    border: none;
}

.register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register-logo img {
    max-width: 100%;
    height: auto;
}




/*
======================================================================
=====================| Estilos del Slidebar |=========================
======================================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

.de-todo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.slide_unico {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #102C57;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

.titulo_unico {
    color: #ffffff;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

.ul_unico .li_unico {
    list-style: none;
}

.ul_unico .li_unico .a_unico {
    color: #ffffff;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.ul_unico .li_unico:hover .a_unico {
    color: #fff;
    background-color: #f75c0f;
}

.ul_unico .li_unico .a_unico .icono_unico {
    width: 40px;
    text-align: center;
}

.input_unico {
    display: none;
    visibility: hidden;
}

.toggle_unico {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #102C57;
    box-shadow: 0 0 10px rgba(3, 42, 236, 0.256);
}

.toggle_unico:hover {
    background-color: #f75c0f;
}

.toggle_unico .comun_unico {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle_unico .topo_unico {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle_unico .medio_unico {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle_unico .bajo_unico {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_unico:checked ~ .toggle_unico .topo_unico {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
}

.input_unico:checked ~ .toggle_unico .bajo_unico {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 25px;
}

.input_unico:checked ~ .toggle_unico .medio_unico {
    opacity: 0;
}

.input_unico:checked ~ .slide_unico {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(24, 72, 216, 0.5);
}


/*
================================================================
=====================| Header y Footer |========================
================================================================
*/
header, footer {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a, footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
footer {
    text-align: center;
}

.logo_1{
    width: 80px;
    height: 60px;
    border-radius: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

.de-todo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.cuerpo_unico {
    background-color: #c2c2c2;
}

.slide_unico {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #011a41;
    transition: transform 0.5s ease;
    transform: translateX(-250px);
    z-index: 1000;
}

.titulo_unico {
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    pointer-events: none;
}

.ul_unico {
    list-style: none;
    padding: 0;
}

.li_unico {
    text-align: center;
    margin: 10px 0;
}

.a_unico {
    color: #ffffff;
    font-weight: 500;
    display: block;
    padding: 15px;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.li_unico:hover .a_unico {
    background-color: #f75c0f;
}

.icono_unico {
    width: 40px;
    text-align: center;
}

.input_unico {
    display: none;
}

.toggle_unico {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #011a41;
    box-shadow: 0 0 10px rgba(3, 42, 236, 0.256);
    z-index: 1001;
}

.toggle_unico:hover {
    background-color: #f75c0f;
}

.comun_unico {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.topo_unico {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medio_unico {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bajo_unico {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_unico:checked ~ .toggle_unico .topo_unico {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.input_unico:checked ~ .toggle_unico .bajo_unico {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.input_unico:checked ~ .toggle_unico .medio_unico {
    transform: scale(0);
}

.input_unico:checked ~ .slide_unico {
    transform: translateX(0);
}

.navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 60px; /* Ajusta el margen para que no se superponga con el menú */
}

.navbar-top {
    justify-content: space-between;
    align-items: center;
}

.navbar-bottom {
    justify-content: flex-end;
    background-color: #1f4071;
    padding: 10px 0;
}

.navbar-bottom {
    padding: 20px;
}

.nav-item {
    font-size: 18px;
}

.nav-link {
    color: #FFFFFF;
    margin: 0 10px;
}

.nav-link:hover {
    color: #00e7c4;
}

.form-inline .form-control {
    border-radius: 50px 0 0 50px;
    width: 50px;
}

.search-btn {
    border-radius: 0 50px 50px 0;
}

.icon {
    font-size: 24px;
    color: white;
    margin-left: 40px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    height: 357px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
}

.footer-section {
    flex: 1;
    margin: 10px 0;
}

.footer-section h2, .footer-section h3 {
    margin: 0;
    font-weight: bold;
}

.footer-section p, .footer-section ul {
    margin: 10px 0;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a, .footer-section p a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover, .footer-section p a:hover {
    text-decoration: underline;
}

.footer-section.next-about a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

/*
======================================================================
=====================| Estilos del Contactanos |=========================
======================================================================
*/

.body.contactanos {
    font-family: Arial, sans-serif;
}
.contact-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-header {
    margin-bottom: 20px;
}
.contact-header h2 {
    font-size: 2rem;
    color: #6c757d;
}
.contact-header p {
    color: #6c757d;
}
.contact-form .form-group label {
    font-weight: bold;
}
.contact-form .btn {
    background-color: #d9534f;
    color: white;
    border: none;
}
.contact-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contact-logo img {
    max-width: 100%;
    height: auto;
}


/*
======================================================================
=====================| Estilos del Guias |============================
======================================================================
*/

body.guías {
    font-family: Arial, sans-serif;
}

.guides-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guides-container h2 {
    font-size: 2.5rem;
    color: #6c757d;
    text-align: center;
    margin-bottom: 30px;
}

.guide-sections .row {
    display: flex;
    flex-wrap: wrap;
}

.guide-item {
    margin-bottom: 20px;
}

.guide-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.guide-item img:hover {
    transform: scale(1.05);
}

.guide-caption {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
}

.guide-link {
    text-decoration: none;
    color: inherit;
}

.guide-link:hover .guide-caption {
    text-decoration: underline;
}

/*
======================================================================
=====================| Estilos del Slideprice |=======================
======================================================================
*/
.contenedor-aplicacion {
    display: flex;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

.contenedor-filtros {
    width: 300px;
    margin-right: 20px; /* Espacio entre el filtro y las tarjetas de producto */
}

.caja-filtro {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.etiqueta-filtro {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.filtro-rango {
    width: 100%;
    margin: 10px 0;
}

.boton-filtro {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton-filtro:hover {
    background-color: #333;
}

.precio-filtro {
    margin-top: 10px;
}

.caja-filtro {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*
======================================================================
=======================|  card de producto  |=========================
======================================================================
*/
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1 0 30%; /* Ajusta la flexibilidad y el tamaño de las columnas */
    margin-bottom: 10px; /* Espacio inferior entre las tarjetas */
    display: flex;
    justify-content: center;
}

.tarjeta-producto {
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 5px; /* Ajusta el margen para reducir el espacio entre tarjetas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    width: 250px !important; /* Ajusta el ancho de la tarjeta */
    height: 350px !important; /* Ajusta la altura de la tarjeta */
}

.tarjeta-producto:hover {
    transform: scale(1.05);
}

.tarjeta-producto img {
    max-width: 50% !important;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px; /* Ajusta el margen inferior */
}

.nombre-producto {
    font-size: 1em; /* Ajusta el tamaño de fuente */
    font-weight: bold;
    margin-bottom: 5px; /* Ajusta el margen inferior */
    color: #333;
}

.precio-producto {
    font-size: 0.9em; /* Ajusta el tamaño de fuente */
    color: #000;
    margin-bottom: 10px; /* Ajusta el margen inferior */
}

.btn-primario {
    background-color: #003366;
    border: none;
    color: white;
    padding: 5px 10px; /* Ajusta el relleno del botón */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 0.9em; /* Ajusta el tamaño de fuente */
}

.btn-primario:hover {
    background-color: #f75c0f;
    text-decoration: none;
    color: white;
}
/*
======================================================================
=========================| Carro de compras |=========================x
======================================================================
*/
carrito-contenidoo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
}
.carrito-contenidoo {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.carritto-tituloo {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #102C57;
    border-bottom: 2px solid #102C57;
    padding-bottom: 10px;
}
.carrito-tablaa {
    width: 100%;
    border-collapse: collapse;
}
.carrito-tablaa th, .carrito-tablaa td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.carrito-tablaa th {
    font-size: 1.2em;
    color: #102C57;
}
.carrito-tablaa td img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.cart-item-details {
    text-align: left;
    padding-left: 10px;
    font-size: 1em;
    color: #555;
}
.cantidad-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cantidad-contenedor button {
    background-color: #102C57;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.cantidad-contenedor button:hover {
    background-color: #000;
}
.cantidad-contenedor input {
    text-align: center;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}
.delete-icon {
    cursor: pointer;
    color: #d9534f;
    font-size: 24px;
    transition: color 0.3s ease;
}
.delete-icon:hover {
    color: #c9302c;
}
/*
======================================================================
======================| Productos por genero |========================
======================================================================
*/
.encabezado-principal {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
}

.titulo-generos{
    display: grid;
    margin: 10px;
    padding: 7px;
    background-color: #102C57;
    color: white;
    border-radius: 3px;
}

.enlace-todos-productos{
    display: grid;
    margin: 10px;
    padding: 10px;
    background-color: #102C57;
    color: white;
    border-radius: 3px;
}

.enlace-todos-productos:hover{
    background-color: #f75c0f;
    color: white;
}

.encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 25px;
}

.encabezado .enlace-todos-productos{
    text-decoration: none;
    font-size: 25px;
}

.genero {
    position: relative;
    margin: 20px 0; /* Margen vertical entre los elementos */
    overflow: hidden;
    width: 1300px; /* Ancho fijo para todas las imágenes */
    height: 600px; /* Alto fijo para todas las imágenes */
}

.boton-ver-mas{
    background-color: #000;
    color: white;

}

.genero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para mantener la proporción de la imagen */
    transition: transform 0.3s ease-in-out;
}

.genero span.nombre-genero {
    position: absolute;
    bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 10px;
    color: black; /* Color de texto por defecto */
    font-size: 50px; /* Aumentar el tamaño de la fuente para mejor visibilidad */
    font-weight: bold;
    z-index: 2;
    transition: color 0.3s ease-in-out; /* Transición para el cambio de color */
}

.genero a.boton-ver-mas {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 2;
    text-decoration: none;
}

.genero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.genero-rock:hover::before {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.785), rgba(240, 76, 6, 0.76), rgba(243, 125, 21, 0.769), rgba(255, 177, 10, 0.769), transparent);
}

.genero-metal:hover::before {
    background: linear-gradient(to top, rgba(138, 6, 164, 0.856), rgba(143, 6, 93, 0.856), rgba(160, 4, 72, 0.674), rgba(199, 4, 66, 0.765), transparent);
}

.genero-blues:hover::before {
    background: linear-gradient(to top, rgba(6, 105, 219, 0.836), rgba(67, 160, 196, 0.817), rgba(69, 156, 255, 0.831), rgba(233, 238, 83, 0.84), rgba(250, 250, 12, 0.84), transparent);
}

.genero-reggae:hover::before {
    background: linear-gradient(to top, rgba(23, 182, 23, 0.824), rgba(255, 228, 27, 0.756), rgba(236, 44, 44, 0.742), rgba(39, 39, 36, 0.747), transparent);
}

.genero:hover img {
    transform: scale(1.1);
}

.genero:hover span.nombre-genero {
    color: white; /* Cambia el color del texto a blanco al hacer hover */
}
/*
======================================================================
===========================| Genero:ROCK |============================
======================================================================
*/
.contenedor-imagen {
    position: relative;
    width: 100%;
    height: 650px; /* Ajusta la altura fija de la imagen */
    overflow: hidden;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.785), rgba(240, 76, 6, 0.76), rgba(255, 177, 10, 0.769), rgba(243, 125, 21, 0.769), rgba(255, 177, 10, 0.769), rgba(255, 177, 10, 0.769), rgba(240, 76, 6, 0.76), rgba(255, 0, 0, 0.705),      transparent);
}

.imagen-fondo-guitarra1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px; /* Asegura que la imagen cubra 650px de altura */
    object-fit: cover;
    z-index: -1;
}

.cuadro-negro {
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenido-texto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.titulo-grande {
    font-size: 160px;
    margin: 0;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo {
    font-size: 80px;
    margin: 0;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
======================================================================
=======================| Reproductor de Musica |======================
======================================================================
*/
.player-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 9999;
    transition: height 0.3s, width 0.3s;
}

.player {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s, width 0.3s;
    position: relative;
    width: 250px;
}

.cover img {
    width: 100%;
    border-radius: 5px;
}

.details {
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 3em;
    width: 250px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    background: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#play {
    background-image: url('/imagenes/icons/play.png');
    background-size: cover;
}

#pause {
    background-image: url('/imagenes/icons/pause.png');
    background-size: cover;
}

#prev {
    background-image: url('/imagenes/icons/prev.png');
    background-size: cover;
}

#next {
    background-image: url('/imagenes/icons/next.png');
    background-size: cover;
}

#shuffle {
    background-image: url('/imagenes/icons/shuffle.png');
    background-size: cover;
}

#repeat {
    background-image: url('/imagenes/icons/repeat.png');
    background-size: cover;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 15px;
    cursor: pointer;
}

.progress-bar {
    flex: 1;
    display: flex;
    align-items: center;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.progress {
    background: #007bff;
    height: 100%;
    border-radius: 5px;
    width: 0;
}

.toggle-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.toggle-btn {
    background: url('/imagenes/icons/up.png') no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    margin-bottom: 5px;
}

.player-collapsed .toggle-btn {
    background: url('/imagenes/icons/down.png') no-repeat center;
    background-size: cover;
}

.player-collapsed .cover img, .player-collapsed .controls, .player-collapsed .progress-container {
    display: none;
}

.cover {
    margin-top: 12px;
}

.player-collapsed .details {
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}

.details h3 {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 15s linear infinite;
    position: absolute;
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*
======================================================================
===========================| Marca-Fender |===========================
======================================================================
*/
.bd-001 {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.fndr-123-banner {
    width: 100%;
    overflow: hidden;
}

.fndr-456-banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.fndr-789-product-header {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; /* Line below the text */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family:monospace;
}

.fndr-101-logos {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.fndr-112-logo {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    transition: transform 0.3s;
}

.fndr-112-logo:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}

.bd-002 {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.bnnr-001 {
    width: 100%;
    overflow: hidden;
}

.bnnr-img-001 {
    width: 100%;
    height: auto;
    display: block;
}

.prd-hdr-001 {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; /* Line below the text */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.lgos-001 {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.lg-001 {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    transition: transform 0.3s;
}

.lg-001:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}

.bd-003 {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.bnnr-002 {
    width: 100%;
    overflow: hidden;
}

.bnnr-img-002 {
    width: 100%;
    height: auto;
    display: block;
}

.prd-hdr-002 {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; /* Line below the text */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.lgos-002 {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.lg-002 {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    transition: transform 0.3s;
}

.lg-002:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}
